*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
/* tu ngoai vao rong
tu tren xuong duoi
tu tong quan den chi tiet

*/
/*  1 .vitri
    2.kich thuoc
    3mau sac
    4.kieu dang*/
#main {

}

#header {
    height: 46px;
    background-color: black;

}
#nav {
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;

}
#nav > li{
    display: inline-block;
}
#nav li {
    
    position: relative;
    

}
#nav > li:hover > a ,#nav .subnav li:hover a {
    color: black;
    background-color: #ccc;
    display: inline-block;

}
#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    

}
#nav .subnav a {color: black;
                padding: 0 12px;
}
#nav>li>a {color: aliceblue;
    text-transform: uppercase;}
#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
   display: block;
}
#nav li:hover .subnav{ 
    display: block;

}
#nav .nav-muiten {font-size: 14px;}

#header .search-btn{
    float: right;
    padding: 0 22px;

}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;


}

#slider{min-height: 500px;
        

}

#scontact {

}

#footer {

}
